/* #header {
    display: flex;
    flex-direction: row;
} */

/* .Movie-layout {
    display: flex;
    justify-content: left;
} */

/* .individualMovie{
    margin: 10px;
    display: inline-block;
}

.tr {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.tr p {
    width: 100px;
}

#rating {
    width: 20px;
}

body {
    grid: 1%;
    margin: 0;
    padding: 0;
} */

 #header {
     text-align: center;
 }

body { 
    background-color: rgb(32,32,32);
    margin: 0;
    padding: 0;
    color: #fff;
}

.individualMovie {
    margin: 10px;
    display: inline-grid;
}

.tr {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100px;
}

#rating {
    width: 20px;
}

#load {
    justify-content: center;
    text-align: center;
    align-items: center;
}


/* #movTitle {
    text-align: left;
    justify-content: left;
}

#movVote {
    text-align: right;
    justify-content: right;
} */





















