.container {
    display: flex;
    justify-content:left;
}

.header {
    display: inline-block;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px;
}

div {
    display: inline-block;
    column-count: 4;
    column-rule-width: 1px;
}

/* section {
    padding: 20px;
} */

/* .Movie-layout {
    display: flex;
    justify-content: left;
} */

/* #grid-item {
    display: flex;
    column-gap: 1rem;
} */

#individualMovie {

}





